html,body
{
	margin: 0;
	padding: 0;
}
body
{

}
h3
{
	font-size: 12px;
}
p
{
	font-size: 21px;	
}
.clearfix
{
	clear: both;
}
#anchor
{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 10px;
	background: rgb(105,195,156);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#anchor a
{
	display: block;
}
.jumbotron
{
	width: 100%;
	background-color: #000;
}
.jumbotron .logo
{
	position: relative;
	top: 15px;
	left: 10%;
}
.jumbotron h2
{
margin-top: 300px;
text-align: center;
color: rgb(255,255,255);
}
#nav-menu
{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 10px;
}
#nav-menu .menu
{
	padding-left: 0;
	margin: 0;

}
#nav-menu .menu .menu__item
{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	border-bottom: 2px solid rgb(105,195,156);
	margin: 0 10px;
	}
#nav-menu .menu .menu__item a
{
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
}

#about
{
width: 300px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
#about h3
{
	text-align: center;
}
#about p
{
	text-align: center;
}
#what
{
outline: 1px solid red;

}
#what .description
{
	width: 40%;
	float: left;
	outline: 1px solid black;
}
#what .description p
{
	width: 40%;
	min-height: 200px;
	/*text-align: right;*/
	outline: 1px solid green;
	float: right;
	margin-top: 250px;
	font-size: 25px;
}
#what .ideology
{
	margin-left: 40%;
	width: 60%;
	/*float: right;*/
	position: relative;
	padding-top: 20px;
	padding-left: 20px;
}
#what .ideology *
{
	/*margin-left: 20px;*/
}
#what .ideology h3
{
}
#what .ideology p
{
	font-size: 30px;
}
#team
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	/*padding-left: 50px;*/
}
#team h3
{

}
#team p
{
	font-size: 30px;
}
#team #people
{

}
#team #people .person
{
display: inline-block;
}
#team #people .person:not(:first-child)
{
	margin-left: 15%;
}
#team #people .person__active
{
	background-color: rgba(105,195,156,0.5);
	color: white;
}
#team #people .person .photo
{
	float: left;
	width: 100px;
	height: 125px;
	outline: 1px solid black;
}
#team #people .person .name
{
	margin-left: 110px;
}
#team #people .person .position
{
	margin-left: 110px;
}
#work
{
width: 300px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
#work h3
{
text-align: center;
}
#work p
{
text-align: center;
}
.carousel
{
width: 70%;
height: 125px;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.carousel__block
{
	display: inline-block;
	outline: 1px solid black;
	/*min-width: 100px; */
	width: 20%;
	height: 100%;
}
.carousel__block:not(:first-child)
{
	margin-left: 5%;
}
.carousel__block__active
{
	background-color: rgba(105,195,156,0.5);
	color: white;
}
#contacts
{

}
#contacts .call
{

}
#contacts .menu
{

}
#contacts .social
{
	
}

#contacts
{

}
#contacts
{

}