html,body
{
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium';
}
body
{

}
h3
{
	font-size: 14px;
}
p
{
	font-size: 21px;
	font-weight: bold;	
}
.clearfix
{
	clear: both;
}
#anchor
{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 10px;
	background: rgb(105,195,156);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	z-index: 100;
}
#anchor a
{
	display: block;
}
#anchor:after
{
	background-image: url('../img/up.png');
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.jumbotron
{
	width: 100%;
	background-color: #000;
}
.jumbotron .logo
{
	position: relative;
	top: 15px;
	left: 10%;
}
.jumbotron h2
{
margin-top: 300px;
text-align: center;
color: rgb(255,255,255);
}
#nav-menu
{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 10px;
}
#nav-menu .menu
{
	padding-left: 0;
	margin: 0;

}
#nav-menu .menu .menu__item
{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	border-bottom: 2px solid rgb(105,195,156);
	margin: 0 10px;
	}
#nav-menu .menu .menu__item a
{
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
}

#about
{
width: 300px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
#about h3
{
	text-align: center;
}
#about p
{
	text-align: center;
}
#what
{
/*outline: 1px solid red;*/
/*height: 100%;*/

}
#what .description
{
	width: 40%;
	float: left;
	/*outline: 1px solid black;*/
	background: url('../img/description.png') no-repeat 0 50% ;
	background-size: 100%;
}
#what .description p
{
	width: 40%;
	min-height: 200px;
	/*text-align: right;*/
	/*outline: 1px solid green;*/
	float: right;
	margin-top: 250px;
	font-size: 25px;
}
#what .ideology
{
	/*clear:both;*/
	margin-left: 40%;
	width: 50%;
	min-height: 450px;
	/*float: right;*/
	position: relative;
	padding-top: 20px;
	padding-left: 20px;
	background-image: url('../img/ideology1.png');
	background-position: 50% 20px;
	background-repeat: no-repeat;
}
#what .ideology:after
{
	background-image: url('../img/cross-grey.png');
	background-size: 25px;
	/*overflow-y: hidden;*/
	/*background-repeat: round;*/
	background-clip: content-box;
	content:"";
	position:absolute;
	top:280px;
	left:0;
	right:0;
	bottom:0;
}
#what .ideology *
{
	/*margin-left: 20px;*/
}
#what .ideology h3
{
}
#what .ideology p
{
	font-size: 30px;
}
#team
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	/*padding-left: 50px;*/
}
#team h3
{

}
#team p
{
	font-size: 30px;
}
#team #people
{
 text-align: center;
 /* padding-top: 100px; */
}
#team #people .person
{
display: inline-block;
vertical-align: top;
}
#team #people .person:not(:first-child)
{
	margin-left: 15%;
}
#team #people .person img
{
	border: none;
}
#team #people .person .social-web
{
	position: relative;
	width: 20px;
	margin: 5px 5px 0 0 ;
}
#team #people .person .social-web>a
{
	display: block;
	cursor: pointer;
}
.view__active
{
	background-color: rgba(105,195,156,0.5);
	color: white;
	cursor: pointer;
}
#team #people .person .photo
{
	float: left;
	width: 100px;
	height: 125px;
	/*outline: 1px solid black;*/
}
#team #people .person .name
{
	margin-left: 110px;
}
#team #people .person .position
{
	margin-left: 110px;
}
#work
{
width: 300px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
#work h3
{
text-align: center;
}
#work p
{
text-align: center;
}
#carousel
{
width: 70%;
height: 125px;
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
overflow: hidden;
}
.carousel__block
{
	display: inline-block;
	position: relative;
	/*left: -350px;*/
	outline: 1px solid black;
	/*min-width: 100px; */
	width: 20%;
	height: 100%;
}
.carousel__block:not(:first-child)
{
	margin-left: 5%;
}
.carousel__block__active
{
	background-color: rgba(105,195,156,0.5);
	color: white;
}

.carousel__arrow
{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-left: 0%;
	margin-top:-25px;
	/*background: rgb(105,195,156);*/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	z-index: 101;
}

.carousel__leftArrow
{
	left: 0;
}
.carousel__rightArrow
{
	right: 0;
}
#contacts
{
margin-top: 50px;
background-color: grey;
}
#contacts .call
{
	width: 70%;
margin-left: auto;
margin-right: auto;
}
#contacts .call p
{
	/*width:40%;*/
	/*margin: 0;*/
	display: inline-block;
}
.phone-number
{
	color:  rgb(105,195,156);
}
#contacts .menu
{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
#contacts .menu
{
	padding-left: 0;
	margin: 0;

}
#contacts .menu .menu__item
{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	/*border-bottom: 2px solid rgb(105,195,156);*/
	margin: 0 10px 0 0;
	}
#contacts .menu .menu__item a
{
	text-decoration: none;
	cursor: pointer;
	color: #000;
	font-size: 18px;
}

#contacts .social
{
	
}

#contacts
{

}
#contacts
{

}